#footer{
background-color:rgba(25,25,25,1); 
color:white;
margin:0px;
border-radius:0px;
border:0px;
}


.defenseleague{
	margin-top:20px;
}

.footerlinks{
	margin-top:20px;
        margin-bottom:20px;
        line-height:200%;
}

.socialbox{
    padding:20px;
}

.codingfooter{
	background-color: rgba(50,50,50,1);
	width:101%;
	margin-right:0px;
	color:rgba(170,170,170,1);
}
.footerlinka{
	color:white;
	text-decoration:none;
}

.footerlinka:hover{
	color:rgba(175,175,175,1);
	text-decoration:none;
}